# IMPLEMENTATION OF LINEAR REGRESSION ALGORITHM ON DATASET HAVING SINGLE FEATURE AS INPUT AND PREDICTING THE OUTPUT BASED ON TEST DATA.

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
data=pd.read_csv("train.csv")

In [11]:
data.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

In [48]:
X=data.iloc[:,0]
print(X)
Y=data.iloc[:,1]
print(Y)

0      24.0
1      50.0
2      15.0
3      38.0
4      87.0
       ...
695    58.0
696    93.0
697    82.0
698    66.0
699    97.0
Name: x, Length: 700, dtype: float64
0      21.549452
1      47.464463
2      17.218656
3      36.586398
4      87.288984
         ...
695    58.595006
696    94.625094
697    88.603770
698    63.648685
699    94.975266
Name: y, Length: 700, dtype: float64

In [16]:
print(X.shape)
print(Y.shape)

(700,)
(700,)

In [17]:
from sklearn import model_selection

In [19]:
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(X,Y,test_size=0.3)
#test-size=0.3 means 30% should be test data and rest is train data

In [20]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(490,)
(210,)
(490,)
(210,)

In [21]:
def fit(x_train,y_train):
    num=(x_train*y_train).mean()-x_train.mean()*y_train.mean()
    den=(x_train**2).mean()-x_train.mean()**2
    m=num/den
    c=y_train.mean()-m*x_train.mean()
    return m,c

In [23]:
def predict(x,m,c):
    return m*x+c

# CALCULATING THE PERFOMANCE OF ALGORITHM BY CALCULATING RELATIVE SQUARED ERROR AND CALCULATING COST FUNCTION WHICH SHOULD BE MINIMIZED.

In [33]:
def score(y_true,y_pred):
    u=((y_true-y_pred)**2).sum()
    v=((y_true-y_true.mean())**2).sum()
    return 1-u/v

def cost(x,y,m,c):
    return ((y-m*x-c)**2).mean()

In [25]:
m,c=fit(X_train,Y_train)    #train the data by fit method
print(m)
print(c)

0.01870291912740941
48.772184712643046

In [28]:
#predict for test data
y_test_pred=predict(X_test,m,c)
y_test_pred

607    50.399339
513    49.183649
283    48.977917
277    49.520301
155    50.380636
         ...
246    50.025280
16     49.258461
31     49.239758
519    50.361933
307    50.193607
Name: x, Length: 210, dtype: float64

In [29]:
#predict for train data
y_train_pred=predict(X_train,m,c)
y_train_pred

209    49.744737
453    48.921808
18     49.314569
698    50.006577
685    50.642477
         ...
538    49.408084
311    49.071431
220    49.782142
282    49.595113
263    50.193607
Name: x, Length: 490, dtype: float64

In [31]:
#score(perfomance) for test data and train data
print("test score: ",score(Y_test,y_test_pred))
print("test score: ",score(Y_train,y_train_pred))

test score:  0.03680238694433324
test score:  0.03650869917340438

In [36]:
print("cost on trainig data: ",cost(X_train,Y_train,m,c))

cost on trainig data:  811.9885777162817